
body{
	background-color:lightblue;
}

h1{
	color:dark blue
	margin:10px
}

p{
	"Times New Roman", Times, serif;
}

ul{
	font-style: oblique;
	font-style: italics;
}
.image-boarder{
	border-color:lightblue;
	border-width:2px;
	border-style:solid;
	border-radius:10%;
}