/*sup dude*/
body{
	background-color: ivory;
}
.tBleh{
	background-color:#A278FF;
	
	
}
.pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: darkblue;
	border-style: ridge;
	border-width: 4px;
}
.heh1{
	text-align: center;
	border-color: skyblue;
	border-bottom: thin;
	border-bottom-style:dashed;
}
.textind{
	text-indent: 50px;
}

h1{
	color:dark blue;
	margin:10px;
}

p{
	font-family: "Times New Roman", Times, serif;
}

ul{
	font-style: oblique;
	font-style: italics;
}
.image-boarder{
	border-color:lightblue;
	border-width:2px;
	border-style:solid;
	border-radius:10%;
}

/* unvisited link */
a:link {
    color: blue;
}
/* visited link */
a:visited {
    color: blue;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: hotpink;
	
		
	}
td{
		text-align:center;
}